<div class="card my-3 shadow-sm">
  <div class="card-body">
    <h5 class="card-title">{{ noticia.titulo }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ noticia.subtitulo }}</h6>
    <p class="card-text">{{ noticia.conteudo }}</p>
    <div class="card-footer bg-transparent border-top-0 p-0 d-flex justify-content-between">
      <small class="text-muted">Por: {{ noticia.autor }}</small>
      <small class="text-muted">{{ noticia.data | date:'dd/MM/yyyy' }}</small>
    </div>
  </div>
</div>
